div.app {
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  color: #222;
}
header {
  flex-basis: 30vh;
}
main {
  display: flex;
  padding: 30px 0;
  flex-grow: 1;
}
aside {
  min-width: 240px;
}
section.page {
  flex-grow: 1;
}
footer {
  color: white;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: black;
}
